@using cloud_Api_MCR.Models
@model IEnumerable<cloud_Api_MCR.Models.ASL_DTO.ViewAslRole>



@{
    ViewBag.Title = "Index";

    if (HttpContext.Current.Session["loggedToken"] == null)
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }
    var loggedUserTp = HttpContext.Current.Session["loggedUserType"].ToString();
    var loggedUserStatus = HttpContext.Current.Session["loggedUserStatus"].ToString();
    if (loggedUserTp == "SADMIN" && loggedUserStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

}


@if (Model != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">User Role Information</div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Module Name
                    </th>
                    <th>
                        Menu Name
                    </th>
                    <th>
                        Menu Type
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Insert
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ModuleName
                        </td>
                        <td>
                            @item.Menuname
                        </td>
                        <td>
                            @item.Menutp
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Insertr
                        </td>
                        <td>
                            @item.Updater
                        </td>
                        <td>
                            @item.Deleter
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
}
