@using cloud_Api_MCR.Models
@using cloud_Api_MCR.Models.Account_DTO
@using cloud_Api_MCR.Models.ASL_DTO
@model cloud_Api_MCR.Models.Account_DTO.ViewGlCostPool
@{
    ViewBag.Title = "CostPoolInfo";

    if (HttpContext.Current.Session["loggedToken"] == null)
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

    var loggedToken = HttpContext.Current.Session["loggedToken"]?.ToString();
    var loggedUserTp = HttpContext.Current.Session["loggedUserType"].ToString();
    var loggedUserStatus = HttpContext.Current.Session["loggedUserStatus"].ToString();
    var loggedCompId = HttpContext.Current.Session["loggedCompID"].ToString();
    var loggedUserId = HttpContext.Current.Session["loggedUserID"].ToString();
    if ((loggedUserTp == "CADMIN" || loggedUserTp == "UADMIN" || loggedUserTp == "USER") && loggedUserStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }


    var createStatus = "";
    var updateStatus = "";
    var deleteStatus = "";
    var viewStatus = "";
    if ((loggedUserTp == "CADMIN" || loggedUserTp == "UADMIN" || loggedUserTp == "USER") && loggedUserStatus == "A")
    {
        ViewAslRole roleInfo = new ViewAslRole();
        roleInfo = (ViewAslRole)TempData["UserRoleInfo"];
        viewStatus = roleInfo.Status;
        createStatus = roleInfo.Insertr;
        updateStatus = roleInfo.Updater;
        deleteStatus = roleInfo.Deleter;
    }

    if (viewStatus == "I")
    {
        Response.Redirect("~/GraphView/Index");
    }


    // Cost Head Name loaded in DropdownList
    List<SelectListItem> listOfGroup = new List<SelectListItem>();
    List<ViewGlCostPmst> passData = (List<ViewGlCostPmst>)TempData["passData_SelectGroupList"];
    foreach (var n in passData)
    {
        listOfGroup.Add(new SelectListItem { Text = n.Costcnm, Value = n.Costcid.ToString() });
    }
}

<link href="~/Content/Angular-File/ng-grid.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="contentHeaderBox">
        <h1 style="padding-left: 16px">Cost Pool List</h1>
        <div class="btn-group pull-right" id="editOption">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu pull-right" style="" role="menu">
                <li>
                    <a href="@Url.Action("CostPoolMasterInfo", "CostPool")"><i class="fa fa-plus"></i> Cost Pool Group List</a>
                </li>
            </ul>
        </div>
    </div>
    <br />


    <div class="col-md-12">
        <div class="form-group">
            <div ng-app="CostPool" data-ng-controller="ApiCostPoolController">
                @Html.HiddenFor(model => model.Compid, new { id = "txtCid", @Value = loggedCompId })
                @Html.HiddenFor(model => model.Insuserid, new { id = "txtUid", @Value = loggedUserId })
                @Html.HiddenFor(model => model.Token, new { id = "txtTid", @Value = loggedToken })
                @Html.HiddenFor(model => model.Insert, new { id = "txt_Insertid", @Value = createStatus })
                @Html.HiddenFor(model => model.Update, new { id = "txt_Updateid", @Value = updateStatus })
                @Html.HiddenFor(model => model.Delete, new { id = "txt_Deleteid", @Value = deleteStatus })
                @Html.HiddenFor(model => model.Insltude, new { id = "latlon" })
                <input id="lat" type="hidden" />
                <input id="lon" type="hidden" />

                <div class="row">
                    <form>
                        <div class="col-md-3">
                            @Html.Label("name", "Cost Head Name", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.Costcid, listOfGroup, "- Select -", new { id = "ddlgroupId", @class = "form-control" })
                        </div>
                        <input type="submit" value="Search" data-ng-click="search($event)" class="btn btn-primary" id="btnSearch" style="display: none" />
                    </form>
                </div>
                <br />

                <div class="row">
                    @*<div class="col-md-1">
                        </div>*@
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Information</div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th @*style="width: 30%"*@>Head Name</th>
                                        <th @*style="width: 30%" *@>Cost Pool </th>
                                        <th @*style="width: 20%"*@>Remarks </th>
                                        <th @*style="width: 10%"*@></th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" data-ng-model="newChild.Costpnm" id="txtHeadNameId" required/></td>
                                        <td><input type="text" class="form-control" data-ng-model="newChild.Costpsid" id="txtCostPoolId" required /></td>
                                        <td><input type="text" class="form-control" data-ng-model="newChild.Remarks" id="txtRemarksId" required /></td>
                                        <td><input type="submit" value="Insert" data-ng-click="addrow($event)" class="btn btn-primary" /></td>
                                    </tr>

                                    <tr data-ng-repeat="testitem in poolListData">
                                        <td hidden><strong data-ng-hide="testitem.editMode">{{testitem.Compid}}</strong></td>
                                        <td hidden><p data-ng-hide="testitem.editMode">{{ testitem.Costcid }}</p></td>
                                        <td hidden><p data-ng-hide="testitem.editMode">{{ testitem.Costpid }}</p></td>
                                        <td style="text-align: left;">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Costpnm }}</p>
                                            <input class="form-control" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.Costpnm" id="gridHeadNameId"/>
                                        </td>
                                        <td style="text-align: left;">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Costpsid }}</p>
                                            <input class="form-control" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.Costpsid" id="gridCostPoolId" />
                                        </td>
                                        <td style="text-align: left;">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Remarks }}</p>
                                            <input class="form-control" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.Remarks" id="gridRemarksId" />
                                        </td>
                                        <td>
                                            <p data-ng-hide="testitem.editMode"><a data-ng-click="toggleEdit(testitem)" href="javascript:;">Edit</a> | <a data-ng-click="deleteItem(testitem)" href="javascript:;">Delete</a></p>
                                            <p data-ng-show="testitem.editMode"><a data-ng-click="update(testitem)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit_Cancel(testitem)" href="javascript:;">Cancel</a></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-1">
                        </div>*@
                </div>
            </div>
        </div>
    </div>




    //Latitute & longitude
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script language="javascript" type="text/javascript">
        $(function () {
            navigator.geolocation.getCurrentPosition(showPosition);
            //navigator.geolocation.getCurrentPosition(showPosition, positionError);

            function showPosition(position) {
                var coordinates = position.coords;
                $("#lat").val(coordinates.latitude);
                $("#lon").val(coordinates.longitude);

                $("#latlon").val(
                    $("#lat").val() + "," + $("#lon").val()
                );
            }
        });
    </script>


    <script type="text/javascript">

        $(document).ready(function () {

            $('#ddlgroupId').change(function () {
                $('#btnSearch').click();
            });
        });
    </script>
}


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>

<script src="~/Scripts/angularjs/1.0.5/angular.js"></script>
<script src="~/Scripts/ViewScripts/CostPool/_CostPoolInfo.js"></script>
<script src="~/Scripts/angularjs/ui-bootstrap-tpls-0.4.0.js"></script>

