@using cloud_Api_MCR.DataAccess.OTHERS
@model cloud_Api_MCR.Models.Account_DTO.ViewAccountListModel

@{
    ViewBag.Title = "_GetCostPoolSingle";
    Layout = null;
    if (HttpContext.Current.Session["loggedToken"] == null)
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

    var loggedCompanyCode = HttpContext.Current.Session["loggedCompID"].ToString();
    var loggedUserTp = HttpContext.Current.Session["loggedUserType"].ToString();
    var loggedUserStatus = HttpContext.Current.Session["loggedUserStatus"].ToString();
    if ((loggedUserTp == "CADMIN" || loggedUserTp == "UADMIN" || loggedUserTp == "USER") && loggedUserStatus == "A")
    {
    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);


    String costPname = "";
    Int64 costpid = Convert.ToInt64(ViewBag.Costpid);
    var findCostpName = (from m in Model.AccountCostPoolList where m.Costpid == costpid select new { m.Costpnm }).ToList();
    foreach (var getName in findCostpName)
    {
        costPname = getName.Costpnm;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/reportcss/style.css" rel="stylesheet" />
</head>

<body style=" background-color:#fafafa;">
    <div style="width: 960px; margin: 0px auto; border: 1px solid #d3d3d3; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); background: none repeat scroll 0 0 white;">
        <table id="mainTable" border="0" width="100%">
            <thead>
                <tr>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
                @Html.Partial("~/Views/Shared/_HeaderReportsDiv.cshtml")
                <tr style="outline:thin solid">
                    <th colspan="13" align="left" style="padding: 4px; font-weight: bold">Cost Pool Wise Operating P/L </th>
                    <th align="right" colspan="7" style="padding: 8px">Print:@currentDateTime.ToString("dd-MM-yy hh:mm tt")</th>
                </tr>
                <tr>
                    <td colspan="20" style="padding:4px;font-weight:bold">Cost Pool : <span style="font-weight: bold">@costPname</span></td>
                </tr>
                <tr>
                    <td colspan="10" style="padding:4px;font-weight:bold">From Date : <span style="font-weight: bold">@ViewBag.FromDate</span></td>
                    <td colspan="10" style="font-weight: bold"> To Date : <span style="font-weight:bold">@ViewBag.ToDate</span></td>
                </tr>
                <tr style="background-color: #eeeeee; outline: thin solid">
                    <td colspan="14" style="color: black; padding: 4px; font-size: small" align="center">Head Particulars</td>
                    <td colspan="6" style="color: black; padding: 4px; font-size: small" align="center">Amount</td>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal totalincome = 0, totalexpense = 0, netSum = 0;
                    var getGlstranslist = (from n in Model.DateWiseAccountStransList where n.Costpid == costpid select n).ToList();
                    var getaccountname = (from a in Model.AccountChartList select a).ToList();
                    string incomeSearch = "";

                }
                <tr><td>Income</td></tr>
                @foreach (var item in getGlstranslist)
                {
                    incomeSearch = Convert.ToString(item.Creditcd).Substring(3, 1);
                    if (incomeSearch == "3")
                    {
                        <tr style="outline:thin solid">
                            @foreach (var x in getaccountname)
                            {
                                if (x.Accountcd == item.Creditcd)
                                {
                                    <td colspan="14" style="padding-left: 60px">@x.Accountnm</td>
                                }
                            }
                            @{
                                string convertamount2 = Convert.ToString(item.Amount);
                                string itemamount = CommainAmount.AmountwithComma(convertamount2);
                            }
                            <td colspan="6" align="right">@itemamount</td>

                        </tr>
                                        totalincome = Convert.ToDecimal(totalincome + item.Amount);
                                    }

                                }
                @{
                    string convertamount = Convert.ToString(totalincome);
                    string tIncome = CommainAmount.AmountwithComma(convertamount);
                }
                <tr style="outline: thin solid">
                    <td colspan="14" style="font-weight: bold" align="right">Total Income : </td>
                    @if (tIncome == "")
                    {
                        <td colspan="6" style="font-weight: bold" align="right">0.00</td>
                    }
                    else
                    {
                        <td colspan="6" style="font-weight: bold" align="right">@tIncome</td>
                    }


                </tr>
                <tr><td>Expenditure</td></tr>

                @foreach (var item in getGlstranslist)
                {
                    incomeSearch = Convert.ToString(item.Debitcd).Substring(3, 1);
                    if (incomeSearch == "4")
                    {
                        <tr style="outline:thin solid">
                            @foreach (var x in getaccountname)
                            {
                                if (x.Accountcd == item.Debitcd)
                                {
                                    <td colspan="14" style="padding-left: 60px">@x.Accountnm</td>
                                }
                            }
                            @{
                                string convertamount3 = Convert.ToString(item.Amount);
                                string itemamount = CommainAmount.AmountwithComma(convertamount3);
                            }
                            <td colspan="6" align="right">@itemamount</td>

                        </tr>
                                        totalexpense = Convert.ToDecimal(totalexpense + item.Amount);
                                    }

                                }
                @{
                    string convertamount1 = Convert.ToString(totalexpense);
                    string tExpense = CommainAmount.AmountwithComma(convertamount1);
                }
                <tr style="outline: thin solid">
                    <td colspan="14" style="font-weight: bold" align="right">Total Expense : </td>
                    @if (tExpense == "")
                    {
                        <td colspan="6" style="font-weight: bold" align="right">0.00</td>
                    }
                    else
                    {
                        <td colspan="6" style="font-weight: bold" align="right">@tExpense</td>
                    }


                </tr>


                @{
                    netSum = Convert.ToDecimal(totalincome - totalexpense);
                    string net = "";
                    Int64 st = 0;
                    if (netSum < 0)
                    {
                        netSum = netSum * (-1);
                        string convertamount2 = Convert.ToString(netSum);
                        net = CommainAmount.AmountwithComma(convertamount2);
                        st = 1;
                    }
                    else
                    {
                        string convertamount2 = Convert.ToString(netSum);
                        net = CommainAmount.AmountwithComma(convertamount2);
                        st = 0;
                    }

                }
                <tr>
                    <td colspan="14" style="font-weight: bold" align="right">Net P/L : </td>
                    @if (st == 0)
                    {
                        if (net == "")
                        {
                            <td colspan="6" style="font-weight: bold" align="right">0.00</td>
                        }
                        else
                        {
                            <td colspan="6" style="font-weight: bold" align="right">@net</td>
                        }

                    }
                    else
                    {
                        <td colspan="6" style="font-weight: bold" align="right">-@net</td>
                    }

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
