@using cloud_Api_MCR.Models
@using cloud_Api_MCR.Models.ASL_DTO
@model cloud_Api_MCR.Models.ASL_DTO.ViewAslMenu

@{
    ViewBag.Title = "MenuInformation";

    if (HttpContext.Current.Session["loggedToken"] == null)
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

    var loggedToken = HttpContext.Current.Session["loggedToken"]?.ToString();
    var loggedUserTp = HttpContext.Current.Session["loggedUserType"].ToString();
    var loggedUserStatus = HttpContext.Current.Session["loggedUserStatus"].ToString();
    var loggedCompId = HttpContext.Current.Session["loggedCompID"].ToString();
    var loggedUserId = HttpContext.Current.Session["loggedUserID"].ToString();
    if (loggedUserTp == "SADMIN" && loggedUserStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }


    // Module Field loaded in DropdownList
    List<SelectListItem> listofModule = new List<SelectListItem>();
    List<ViewAslMenumst> passData = (List<ViewAslMenumst>)TempData["passData_SelectModuleList"];
    foreach (var n in passData)
    {
        listofModule.Add(new SelectListItem { Text = n.Modulenm, Value = n.Moduleid });
    }


    List<SelectListItem> listofMenuType = new List<SelectListItem>();
    listofMenuType.Add(new SelectListItem { Text = "Form", Value = "F" });
    listofMenuType.Add(new SelectListItem { Text = "Report", Value = "R" });

}

<link href="~/Content/Angular-File/ng-grid.css" rel="stylesheet" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="contentHeaderBox">
        <h1 style="padding-left:16px">Module Wise Menu List</h1>
    </div>
    <br />


    <div class="col-md-12">
        <div class="form-group">
            <div ng-app="MenuApp" data-ng-controller="ApiMenuController">
                @Html.HiddenFor(model => model.Compid, new { id = "txtCid", @Value = loggedCompId })
                @Html.HiddenFor(model => model.Insuserid, new { id = "txtUid", @Value = loggedUserId })
                @Html.HiddenFor(model => model.Token, new { id = "txtTid", @Value = loggedToken })
                @Html.HiddenFor(model => model.Insltude, new { id = "latlon" })
                <input id="lat" type="hidden" />
                <input id="lon" type="hidden" />

                <div class="row">
                    <form>
                        <div class="col-md-2">
                            @Html.Label("name", "Module Name", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Moduleid, listofModule, "--Select--", new {id = "ddlModuleId", @class = "form-control", autofocus = true})
                        </div>
                        <div class="col-md-2">
                            @Html.Label("name", "Menu Type", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Menutp, listofMenuType, "--Select--", new { id = "ddlMenuTypeId", @class = "form-control", autofocus = true })
                        </div>
                        <input type="submit" value="Search" data-ng-click="search($event)" class="btn btn-primary" id="btnSearch" style="display: none" />
                    </form>
                </div>
                <br />

                <div class="row">
                    @*<div class="col-md-1">
                        </div>*@
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Information</div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th @*style="width: 10%"*@>ID</th>
                                        <th @*style="width: 10%"*@ style="text-align: CENTER;">Serial</th>
                                        <th @*style="width: 30%"*@>Menu Name </th>
                                        <th @*style="width: 20%"*@>Action Name </th>
                                        <th @*style="width: 20%"*@>Controller Name </th>
                                        <th @*style="width: 10%"*@></th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><input type="number" class="form-control" data-ng-model="newChild.Serial" id="txtSerialId" required/></td>
                                        <td><input type="text" class="form-control" data-ng-model="newChild.Menunm" id="txtMenuNameId" required/></td>
                                        <td><input type="text" class="form-control" data-ng-model="newChild.Actionname" id="txtActionNameId" required/></td>
                                        <td><input type="text" class="form-control" data-ng-model="newChild.Controllername" id="txtControllerNameId" required /></td>
                                        @*<td style="width: 15%"> @Html.TextBoxFor(model => model.RATEBDT, new { id = "RateBDTID", @class = "form-control", type = "number", step = "any", min = "0", max = "9999999999", placeholder = "0" })</td>
        <td style="width: 15%"> @Html.TextBoxFor(model => model.RATEUSD, new { id = "RateUSDID", @class = "form-control", type = "number", step = "any", min = "0", max = "9999999999", placeholder = "0" })</td>
        <td style="width: 15%"> @Html.DropDownListFor(model => model.STATUS, listofStatus, new
                           {
                               id = "statusID",
                               @class = "form-control",  })</td>*@
                                        <td style="width: 20%"><input type="submit" value="Insert" data-ng-click="addrow($event)" class="btn btn-primary"/></td>
                                    </tr>

                                    <tr data-ng-repeat="testitem in MenuData">
                                        <td hidden><strong data-ng-hide="testitem.editMode">{{testitem.Moduleid}}</strong></td>
                                        <td hidden><p data-ng-hide="testitem.editMode">{{ testitem.Menutp }}</p></td>
                                        <td>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Menuid }}</p>
                                        </td>
                                        <td style="text-align: CENTER;">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Serial }}</p>
                                            <input class="form-control" data-ng-show="testitem.editMode" type="number" data-ng-model="testitem.Serial" id="gridSerialID"/>
                                        </td>
                                        <td>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Menunm }}</p>
                                            <input class="form-control" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.Menunm" id="gridMenuNameId"/>
                                        </td>
                                        <td>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Actionname }}</p>
                                            <input class="form-control" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.Actionname" id="gridActionNameId" />
                                        </td>
                                        <td>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.Controllername }}</p>
                                            <input class="form-control" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.Controllername" id="gridControllerNameId" />
                                        </td>
                                        <td>
                                            <p data-ng-hide="testitem.editMode"><a data-ng-click="toggleEdit(testitem)" href="javascript:;">Edit</a> | <a data-ng-click="deleteItem(testitem)" href="javascript:;">Delete</a></p>
                                            <p data-ng-show="testitem.editMode"><a data-ng-click="update(testitem)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit_Cancel(testitem)" href="javascript:;">Cancel</a></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-1">
                        </div>*@
                </div>
            </div>
        </div>
    </div>




    //Latitute & longitude
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script language="javascript" type="text/javascript">
        $(function () {
            navigator.geolocation.getCurrentPosition(showPosition);
            //navigator.geolocation.getCurrentPosition(showPosition, positionError);

            function showPosition(position) {
                var coordinates = position.coords;
                $("#lat").val(coordinates.latitude);
                $("#lon").val(coordinates.longitude);

                $("#latlon").val(
                    $("#lat").val() + "," + $("#lon").val()
                );
            }
        });
    </script>


    <script type="text/javascript">

        $(document).ready(function () {

            $('#ddlModuleId').change(function () {
                $('#btnSearch').click();
            });

            $('#ddlMenuTypeId').change(function () {
                $('#btnSearch').click();
            });

        });
    </script>
}


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>

<script src="~/Scripts/angularjs/1.0.5/angular.js"></script>
<script src="~/Scripts/ViewScripts/Menu/_MenuInformation.js"></script>
<script src="~/Scripts/angularjs/ui-bootstrap-tpls-0.4.0.js"></script>













